{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Music API Home</title>

    <link rel="stylesheet" href="{% static 'tracks/tracks.css' %}">

</head>
<body>

    <h1>Welcome to the Music API</h1>
    <p>This is the home page for the Django Music API project.</p>
    <p>Python Version: 3.10 +</p>
    

    <h3>Navigation for Endpoints</h3>

    <p>Use the links below to navigate to different API endpoints:</p>

    <ul>
        <li><a href="/create/">/create/ create a track</a></li>
        <li><a href="/delete/">/delete/ delete a track</a></li>
        <li><a href="/search/">/search/ search for a track</a></li>
        <li><a href="/update/">/update/ update a track</a></li>
        <li><a href="/averages/">/averages/ get genre averages</a></li>
        <li><a href="/moods/">/moods/ get moods</a></li>
        
    </ul>

</body>
</html>
