body {
  font-family: Sans-Serif;
  margin: 0px;
  border: 0px;
  padding: 0px;
}





#header{
    vertical-align: middle;
    width: 100%;
    background-color: #3caea3;
}

a { text-decoration: none; }


#content{
    padding-left: 10px;
    float: left;
}


#gene_list{
    padding-left: 10px;
    padding-right: 20px;
    float: left;
    border-right: 2px dashed black;
}

#footer{
    padding-left: 10px;
    width: 100%;
    float: left;
}



table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}



a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: 500;
}
a:hover {
    text-decoration: underline;
    color: #ff00f7;
}


nav {
    background-color: #333;
    padding: 12px 16px;
}

/* All nav link states */
nav a,
nav a:visited {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-right: 12px;
}


/* Hover */
nav a:hover {
    text-decoration: underline;
    color: #ff00f7;
}



/* Moods*/

.moods {
  display: grid;
  gap: 1.5rem;
}

.mood {
  padding: 1rem 1.25rem;
  border-radius: 12px;
  background: #111827;
  color: #e5e7eb;
}

.mood h3 {
  margin: 0 0 0.5rem;
}

.mood ul {
  margin: 0;
  padding-left: 1.25rem;
}